.multipleh{
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #9fffcb;
    color: #1c1b1b;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1c1b1b;
    text-align: center;
    background-color: black;
    color: #f77f00;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 1rem solid #f77f00;
}
button{
    background-color: #1c1b1b;
    color: #f77f00;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

.Link{
   
    color: #f77f00;
}